.card-columns {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: 4% 0;
}

.link-card {
  text-decoration: none;
  color: #000;
}

.container-product {
  max-width: 95%;
}

.imgCard {
  width: 300px;
  height: 200px;
  margin: auto;
}

.car-cont {
  padding: 5%;
}

.nombre {
  font-size: 20px;
  font-weight: 400;
}

.preciotext {
  font-size: 20px;
  font-weight: 400;
}

.container-price {
  display: flex;
  justify-content: space-between;
}

.entrega {
  color: rgb(153, 152, 152);
  font-size: 18px;
}
